.addCustomer-container {
    margin-left: 2vw;
}

.addCustomer-title {
    font-size: 3em;
    font-weight: bold;
    margin: 8vh 0vw 5vh;
}

.addCustomer-form {
    margin-left: 1vw;
    width: 20vw;
}

.addCustomer-form label {
    font-size: 1.2em;
}

.addCustomer-submit-group {
    margin-top: 10vh;
    float: right;
    font-size: 1.2em;
}

.addCustomer-addButton {
    margin-left: 3vw;
    border-style: none;
    border-radius: 20px;
    width: 7vw;
    height: 5vh;
    background: #FFD873;
}

.addCustomer-cancelButton {
    text-decoration-line: underline;
    color: #747474;
}