.addItem-container {
    margin-left: 2vw;
    position: relative;
    left: 3vw;
    z-index: 1;
}

.addItem-title {
    font-size: 3em;
    font-weight: bold;
    margin: 8vh 0vw 0vh;
}

/* Add Customer */
.addCustomer-form {
    width: 40%;
}

.addCustomer-form-group {
    margin-top: 4vh;
    margin-left: 1vw;
    font-size: 1.2em;
    font-family: 'Inter';
    color: #747474;
}

.addCustomer-submit-group {
    margin-top: 8vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.addCustomer-cancelButton {
    margin-right: 2vw;
    text-decoration-line: underline;
    color: #747474;
}

/* Add Product */
.addProduct-form {
    display: flex;
    flex-wrap: wrap;
}

.addProduct-text-fields {
    margin-top: 4%;
    flex-basis: 40%;
}

.addProduct-text-fields input {
    margin-bottom: 4%;
}

.addProduct-text-fields label {
    font-family: 'Inter';
    color: #747474;
}

.addProduct-radio-fields {
    margin-top: 4%;
    margin-left: 20%;
    flex: 1;
}

.addProduct-category-title {
    font-family: 'Inter';
    color: #747474;
}

.addProduct-radio-categories {
    margin-top: 2%;
}

.addProduct-radio-categories input {
    margin-top: 1%;
    margin-right: 3%;
    float: left;
}

.addProduct-addCategory {
    text-decoration-line: underline;
    color: #747474;
}

.addProduct-addCategory-container {
    margin-top: 6vh;
}

.addProduct-submit-group {
    margin-top: 15vh;
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 23%;
    align-items: center;
}

.addProduct-cancelButton {
    text-decoration-line: underline;
    color: #747474;
    margin-right: 4vw;
}

/* Add transaction */
.addTransaction-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw 20vw;
    margin-left: 2vw;
    flex-direction: row;
}

.addTransaction-second-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw 21vw;
    flex-direction: row;
}

.addTransaction-sub-container {
    margin-top: 5vh;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    /* justify-content: space-between; */
}

.addTransaction-subtitle {
    font-size: 2em;
}

.addTransaction-add-button {
    border-style: none;
    border-radius: 20px;
    width: 6vw;
    height: 5vh;
    background: #FFD873;
    
}

.addTransaction-submit-group {
    flex-basis: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 6em;
    padding-right: 10%;
    align-items: center;
}

.addTransaction-cancelButton {
    text-decoration-line: underline;
    color: #747474;
    margin-right: 4vw;
}

.addTransaction-sub-container li{
    display: flex;
    flex-direction: row;
    margin: 0px 0;
}

.addTransaction-question {
    font-size: 1.5em;
}

.addTransaction-buttons-wrapper {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 60px;
    grid-template-areas: 
        "producename add qty min delete";
    gap: 5px 7px;
    /* justify-items: start; */
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #c4c4c4;

}

.addTransaction-no-style-button {
    padding-left: 1em;
    border: none;
    background-color: transparent;
    color: #747474;
}

.addTransaction-products-container{
    display: flex;
    flex-direction: row;
}

.addTransaction-total {
    align-self: flex-end;
}

/* Add category */

.addCategory-smallText{
    font-size: 1em;
    color: grey;
    justify-content: space-around;
    margin-top: 2em;
}

.addCategory-backButton {
    text-decoration: none;
    color: #747474;
}


.addCategory-list-container {
    margin-top: 3%;
}

.addCategory-list-container p {
    color: #747474;
    font-family: 'Inter';
    font-size: 0.8em;
}

.addCategory-form-group {
    width: 20%;
}

.addCategory-list {
    list-style-type: none;
    width: 15%;
}

.addCategory-delete {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.addCategory-list li {
    border-bottom: 1px solid #747474;
}

.addCategory-addCategory {
    background: none;
    border: none;
    padding: 0;
    color: #747474;
    text-decoration: underline;
    cursor: pointer;
}

.addCategory-deleteCategory {
    background: none;
    border: none;
    padding: 0;
    color: #747474;
    float: right;
}

.addCategory-submit-group {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
}

.addCategory-cancelButton {
    text-decoration-line: underline;
    color: #747474;
    margin-right: 2vw;


    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

@media only screen and (max-width:1366px) {
    .addItem-title{
        margin-left: 6vw;
    }
    .addTransaction-container  {
        margin-left: 9vw;
    }
}

.radio {
    margin-right: 10px;
}

.addTrans-form-check-input{
    display: inline;
    margin-right: 10px;
    align-items: center;
}

.addTrans-products-form{
    border: none;
}

.editItem-delete-btn{
    text-decoration-line: underline;
    margin-left: 67%;
    border: none;
    background-color: transparent;
    color: #D80707;
}