.authentication-logo-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.authentication-logo-container img {
    width: 10vw;
    height: auto;
}

.authentication-content-container {
    display: flex;
    flex-direction: row;
}

.authentication-left-container {
    width: 55%;
    padding-right: 5vw;
    border-right: 1px solid black;
}

.authentication-left-container img {
    width: 100%;
    height: auto;
}

.authentication-right-container {
    margin-top: 1%;
    margin-left: 5%;
    flex-grow: 1;
}

.authentication-title-container {
    font-size: 3vw;
}

.authentication-form {
    margin-top: 5vh;
    font-size: 1vw;
    font-family: 'Inter';
    color: #747474;
}

.authentication-form-group {
    margin-bottom: 5vh;
}

.other-authentication-link {
    color:black;
}

.submitButton {
    float: right;
    border-style: none;
    border-radius: 20px;
    width: 7vw;
    height: 5vh;
    background: #FFD873;
}
