

.smallText{
    font-size: 1em;
    color: grey;
    justify-content: space-around;
    margin-top: 2em;
    margin-left: 10em;
}

.pageTitleMedium{
    font-size: 2.3em;
    font-weight: bold;
    color: black;
    margin-top: 1em;
    margin-left: 5em;
    margin-bottom: 0.2em;
}

.profile-container{
    float: left;
    border: 0.1em solid rgb(0, 0, 0);
    border-radius: 2em;
    height: 20em;
    width: 30em;
    margin-left: 11em;
    margin-right: 0em;
    padding-top: 1em;
    padding-left: 2em;
}

.smallerText{
    font-size: 1em;
    color: grey;
    font-weight: bolder;
}

.userText{
    font-size: 1.3em;
    color: darkcyan;
    font-weight: bold;
    margin-left: 1em;
    margin-bottom: 1em;
}

.score-container{
    border: 0.1em solid rgb(0, 0, 0);
    border-radius: 2em;
    height: 15em;
    width: 20em;
    margin-left: 50em;
    padding-top: 1em;
    padding-left: 2em;
}

.transaction-button{
    margin-left: 1em;
    font-size: 0.5em;
    color: grey;
    font-weight: bolder;
}

.transactionHistory{
    font-size: 2.3em;
    font-weight: bold;
    color: black;
    margin-top: 3em;
    margin-bottom: 0.2em;
    margin-left: 1em;
}

.tranhis-container{
    border: 0.1em solid rgb(0, 0, 0);
    border-radius: 2em;
    height: 15em;
    margin-left: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.tran-log{
    border-top: 0.1em solid rgba(180, 176, 176, 0.452);
    border-bottom: 0.1em solid rgba(180, 176, 176, 0.452);
    font-size: 1em;
}
.tran-log-text{
    margin-left: 1em;
    margin-right: 10em;
    font-weight: bold;
    font-size: 1em;
}






