.home-pagename{
    margin-top: 1em;
    margin-left: 2em;
    font-size: 4em;
    font-weight: bold;
    color: black;
}

.homepagesubtitle{
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 1em;
    margin-left: 5em;
}

.home-charts{
    /* background: chartreuse; */
    display: flex;
    margin-bottom: 5vh;
}

.home-stats{
    /* background: chartreuse; */
    display: flex;
    margin-bottom: 5vh;
    margin-left: 5vw;
}

.home-bar-overview{
    margin: 2%;
    margin-left: 5%;
    width: 50%;
    /* background: chartreuse; */
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    text-align: center;
    padding: 2%;
}

.home-pie-overview{
    margin: 2%;
    margin-left: 5%;
    height: 10%;
    width: 30%;
    /* background: chartreuse; */
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    text-align: center;
    padding: 2%;
}


.home-stats-card{
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    height: 100%;
    text-align: center;
    margin: 1%;
    margin-left: 3%;
    padding: 2%;
}



