
.side-bar {
    flex-wrap: wrap;
    
    height: 100%;
    width: 200px;

    position: fixed;

    margin-left: 10px;

    align-items: center;
    
    z-index: -1;
    top: 0;
    left: 0;
    background: white;
    border-right: 1px solid rgb(0, 0, 0);
    padding-top: 20px;
}

.side-text{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.settings{
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid rgb(0, 0, 0);
}


.logo-container {
    display: flex;
    align-content: flex-start;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 15px;
    margin-bottom: 140px;
}

.logo-container img {
    width: 175px;
    height: 65px;
}

.icon-container {
    margin-right: 1em;
}